<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
    {#    用于移动端    #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin{% endblock %}</title>
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}

    {% block css %}

    {% endblock %}

    <style>
        .circle-dot-red {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }
    </style>

</head>
<body class="withvernav">
    <div class="bodywrapper">
        {% include 'base/top.html' %}
        {% include 'base/menu.html' %}

        {% block content %}

        {% endblock %}

        {% block footer %}

        {% endblock %}
    </div><!--bodywrapper-->
    {% block js %}

    {% endblock %}

</body>
</html>