{% extends 'base/base.html' %}

{% block title %}
    公告管理
{% endblock %}

{% block content %}
        <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：公告管理</h1>
            <span class="pagedesc">用于管理公告信息的编辑和发布</span>

        </div><!--pageheader-->

        <div id="basicform " style="margin: 10px" class="messagebox">
            <div class="contenttitle2">
                <h3>{% if public_notice_id %}编辑{% else %}新增{% endif %}公告信息</h3>
            </div><!--contenttitle-->

            {% if errors %}
                <ul style="list-style: none;margin: 5px;padding: 5px;">

                    {% for error in errors.values %}
                        <li style="color:red"><span class="circle-dot-red"></span> {{ error.0.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button class="submit radius2" id="back_" style="background-color: lightblue; margin-left: 80%"  onclick="window.open('{% url "main:notice" %}', target='_self')">返回上一页</button>

            <form class="stdform stdform2" method="post">

                <p>
                    <label>公告标题</label>
                    <span class="field">
                        {% csrf_token %}
                        <input type="text" name="public_title" class="longinput {% if errors.title %}error{% endif %}"
                               value="{% if form %}{{ form.public_title.value }}{% else %}{{ notice.public_title }}{% endif %}"/>
                         <input type="hidden" name="public_notice_id" value="{{ notice.public_notice_id }}">
                    </span>
                </p>


                <div id="id_info-wrapper">
                    <textarea name="content">{% if form %}{{ form.content.value|safe }}{% else %}
                        {{ notice.content }}{% endif %}</textarea>
                </div>

                <p class="stdformbutton">
                    {% if notice.public_status == 0 or public_notice_id == '' %}
                        <button class="submit radius2" style="margin-left: 45%">发布公告</button>
                    {% endif %}
                </p>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/s/tiny_mce/tiny_mce.js"></script>

    <script>
        tinyMCE.init({
            mode: 'textareas',
            width:  '100%',
            height: 300,
            theme: 'advanced',

        });
        {#alert('calam');#}
    </script>
{% endblock %}


