{# 主页显示 #}

{% extends 'base/base.html' %}

{% block title %}【熊猫之家】后台管理系统{% endblock %}

{% block js %}
    <script type="text/javascript" src="/s/js/custom/dashboard.js"></script>
{% endblock %}

{% block content %}
    <div class="centercontent">

        <div class="pageheader">
            <h1 class="pagetitle">熊猫之家-温馨舒适</h1>
            <span class="pagedesc">拥有一个更舒适的家！</span>

            <ul class="hornav">
                {% if request.session.login_user.role_code == 'admin' %}
                    <li class="current"><a href="#">公告审核</a></li>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                        <thead>
                        <tr>
                            <th class="head0">公告ID</th>
                            <th class="head1">标题</th>
                            <th class="head0">简述</th>
                            <th class="head1">发布时间</th>
                            <th class="head1">外部连接</th>
                            <th class="head1">审核状态</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for notice in notices %}
                            <tr class="gradeA">
                                <td>{{ notice.public_notice_id }}</td>
                                <td>{{ notice.title }}</td>
                                <td>{{ notice.content }}</td>
                                <td>{{ notice.public_time }}</td>
                                <td>{{ notice.link_url }}</td>
                                <td>{{ notice.state_label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </ul>
        </div><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper">


        </div><!--contentwrapper-->

        <br clear="all"/>

    </div><!-- centercontent -->
{% endblock %}

